h2{
    color:aqua
}
*{
    border:solid;
    color:darkmagenta;
    background: rgb(240, 119, 169);
}
.header{
    background-color:aquamarine;
    display:flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}